@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /*Design System Main colors*/
  --blaze-500: #e76002;
  --solar-500: #eb8000;
  --amber-500: #f7b63b;
  --obsidian-500: #0d0d16;
  --white-500: #fff;

  /*Gradients*/
  --main-gradient: linear-gradient(
    90deg,
    var(--blaze-500) 0%,
    var(--amber-500) 100%
  );

  /*Font sizes*/
  --font-h1: 5rem;
  --font-h2: 4rem;
  --font-h3: 3rem;
  --font-h4: 2.5rem;
  --font-h5: 2rem;
  --font-h6: 1.5rem;
  --text-lg: 1.25rem;
  --text-sm: 1rem;
  --text-xs: 0.8rem;
}
